In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [2]:
type(fruits)

list

1. Determine the number of elements in fruits.

In [3]:
len(fruits)

17

Use pandas to create a Series named fruits from the following list:

In [4]:
fruits_series = pd.Series(fruits)

In [5]:
type(fruits_series)

pandas.core.series.Series

2. Output only the index from fruits.

In [6]:
fruits_series.index

RangeIndex(start=0, stop=17, step=1)

3. Output only the values from fruits.

In [7]:
fruits_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

4. Confirm the data type of the values in fruits.

In [8]:
fruits_series.dtype

dtype('O')

5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [9]:
fruits_series.head(5), fruits_series.tail(3), fruits_series.sample(2)

(0          kiwi
 1         mango
 2    strawberry
 3     pineapple
 4    gala apple
 dtype: object,
 14    blackberry
 15    gooseberry
 16        papaya
 dtype: object,
 15    gooseberry
 13     blueberry
 dtype: object)

6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [10]:
fruits_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

7. Run the code necessary to produce only the unique string values from fruits.

In [11]:
fruits_series.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

8. Determine how many times each unique string value occurs in fruits.

In [12]:
fruits_series.nunique()

13

9. Determine the string value that occurs most frequently in fruits.

In [13]:
fruits_series.mode()

0    kiwi
dtype: object

10. Determine the string value that occurs least frequently in fruits.

In [14]:
fruits_series.value_counts().nsmallest(keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [15]:
fruits_series.tail(5).value_counts()

mango         1
blueberry     1
blackberry    1
gooseberry    1
papaya        1
dtype: int64

# Part II Exercises

1. Capitalize all the string values in fruits.

In [16]:
fruits_series.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

2. Count the letter "a" in all the string values (use string vectorization).

In [17]:
bools = fruits_series.str.count('a')

bools

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

3. Output the number of vowels in each and every string value.

In [18]:
vowels= ['a','e','i','o','u']

fruits_series.str.count('aeiou')

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
dtype: int64

4. Write the code to get the longest string value from fruits.

In [20]:
fruits_series.str.max()

AttributeError: 'StringMethods' object has no attribute 'max'

5. Write the code to get the string values with 5 or more letters in the name.

In [27]:
more_than_five = fruits_series.str.len() >= 5

fruits_series[more_than_five]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

6. Find the fruit(s) containing the letter "o" two or more times.

In [ ]:
fruits_series.str.len() >= 5

In [29]:
letter_o = fruits_series.str.count('o')

0     0
1     1
2     0
3     0
4     0
5     1
6     2
7     1
8     1
9     0
10    0
11    0
12    1
13    0
14    0
15    2
16    0
dtype: int64

7. Write the code to get only the string values containing the substring "berry".

0     0
1     1
2     0
3     0
4     0
5     1
6     2
7     1
8     1
9     0
10    0
11    0
12    1
13    0
14    0
15    2
16    0
dtype: int64

8. Write the code to get only the string values containing the substring "apple".

9. Which string value contains the most vowels?